[Unit]
Description= My python web application

[Service]

# User=tomcat
WorkingDirectory=/home/tomcat/Portfolio-project/
ExecStart=/usr/bin/python3 /home/tomcat/Portfolio-project/app.py 
restart=always

[Install]
WantedBy=multi-user.target
