[Unit]
Description= My python web application

[Service]

WorkingDirectory=/home/ansible/Portfolio-project/
ExecStart=/usr/bin/python3 /home/ansible/Portfolio-project/app.py 
Restart=always

[Install]
WantedBy=multi-user.target
